/*GLOBAL*/
:root {
    --primary-color: #ff8e02;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
}

h2{
    width: 100%;
    text-align: center;
}

h2:after{
    content: "";
    width: 150px;
    display: block;
    margin: 25px auto;
    border-top: 1px solid var(--primary-color);
    font-weight: bold;
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: var(--primary-color);
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 19px;
}

/*HEADER*/
header{
    display: flex;
    flex-wrap: wrap;
    height: 10vh;  /*open menu take 30vh */
}
.open-header{
    height: 30vh;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    padding: 20px;

    display: flex;
    justify-content: space-around;

    background-color: white;
}
.navbar a {
    width: 50%;
}
.mobile-btn{
    background-color: transparent;
    border: none;
}
.navbar img{
    display: inline-block;
    max-width: 100%;
}
.menu{
    position: absolute;
    top: 50px;
    width: 100%;
}
.menu--hidden{
    top: -50vh;
}
.menu ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;

    transition: 0.2s ease-out;
}
.menu li{
    text-align: center;
    margin: 5px 0;
}
.menu a{
    text-decoration: none;
    color: black;
}

/*SECTION HEADER*/
.header {
    background: var(--primary-color) url("assets/images/foto_banner.jpg") center no-repeat;
}
.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    color: white;
    font-weight: bold;

    width: 100%;
}
.text-container h1:first-letter {
    text-transform: uppercase;
}
.text-container h1::after {
    content: '';
    display: block;
    border-top: 1px solid saddlebrown;
    width: 200px;
    margin: 25px auto;
}
.text-container p {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 25px;
}
.text-container .btn {
    margin: 25px auto;
}

/*SECTION PRODUCTS*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product-container {
    text-align: center;
    max-width: 300px;
    margin: 25px;
}
.product-container:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.product-container h3 {
    text-transform: uppercase;
}

/*SECTION INSPIRATION*/
.articles {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.single-article {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.single-article:nth-of-type(2) {
    flex-direction: column-reverse;
}
.single-article .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;

    background-color: var(--primary-color);
}
.single-article .img {
    width: 100%;
    min-height: 250px;
    height: auto;
}
.single-article a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 19px;
    padding: 10px 20px;
}

/*SECTION ABOUT*/
.about {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.about h3 {
    color: var(--primary-color);
    font-weight: 400;
}
.about p {
    font-weight: bold;
    text-transform: uppercase;
}
.about a.btn {
    margin: 25px 0;
}

/*SECTION FIND*/
.find {
    width: 100%;
    text-align: center;
}
.find iframe {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/*SECTION CONTACT*/
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: black;
    color: white;
    margin-top: 25px;
}
.contact-container{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.contact-container h3{
    font-weight: bold;
}
.contact-container address{
    font-weight: 300;
    color: var(--primary-color);
    font-style: normal;
    text-decoration: none;
    line-height: 2em;
}
.contact-container a{
    text-decoration: none;
    color: var(--primary-color);
}