/*GLOBAL*/
:root {
    --primary-color: #ff8e02;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
}

h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

h2:after {
    content: "";
    width: 150px;
    display: block;
    margin: 25px auto;
    border-top: 1px solid var(--primary-color);
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: var(--primary-color);
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 19px;
}

@media screen and (min-width: 768px) {
    h2 {
        margin-top: 50px;
        font-size: 1.8em;
    }

    h2:after {
        width: 250px;
        margin: 35px auto;
    }

    .btn {
        font-size: 1.2em;
        padding: 15px 30px;
        border: 2px solid white;
        border-radius: 25px;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        margin-top: 65px;
        font-size: 2.2em;
    }

    h2:after {
        width: 350px;
        margin: 45px auto;
    }

    .btn {
        font-size: 1.4em;
        padding: 15px 30px;
        border: 2px solid white;
        border-radius: 25px;
    }
}

/*HEADER*/
header {
    display: flex;
    flex-wrap: wrap;
    height: 10vh; /*open menu take 30vh */

    transition: 0.2s ease;
}

.open-header {
    height: 30vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    padding: 20px;

    display: flex;
    justify-content: space-around;

    background-color: white;
}

.navbar a {
    width: 50%;
}

.mobile-btn {
    background-color: transparent;
    border: none;
}

.navbar img {
    display: inline-block;
    max-width: 100%;
}

.menu {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: white;

    transition: 0.2s ease;
}

.menu--hidden {
    top: -50vh;
}

.menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;

    transition: 0.2s ease-out;
}

.menu li {
    text-align: center;
    margin: 5px 0;
}

.menu a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1200px) {
    header {
        flex-wrap: nowrap;
        height: auto;
        justify-content: space-between;
    }

    .navbar {
        position: static;
        width: 45%;
        z-index: auto;
    }

    .menu--hidden {
        top: 0;
    }

    .mobile-btn {
        display: none;
    }

    .menu {
        position: static;
        width: 45%;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu a {
        font-size: 1.5em;
    }
}

/*SECTION HEADER*/
.header {
    background: var(--primary-color) url("assets/images/foto_banner.jpg") center no-repeat;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    color: white;
    font-weight: bold;

    width: 100%;
}

.text-container h1:first-letter {
    text-transform: uppercase;
}

.text-container h1::after {
    content: '';
    display: block;
    border-top: 1px solid saddlebrown;
    width: 200px;
    margin: 25px auto;
}

.text-container p {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 25px;
}

.text-container .btn {
    margin: 25px auto;
}

@media screen and (min-width: 768px) {
    .text-container {
        margin: 25px 0;
        line-height: 2em;
        padding: 0 50px;
    }

    .text-container h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .text-container {
        margin: 0;
    }

    .text-container h1 {
        margin: 50px 0 0 0;
        font-size: 2.4em;
    }


    .text-container h1::after {
        width: 350px;
        margin: 25px auto;
    }


}

/*SECTION PRODUCTS*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-container {
    text-align: center;
    max-width: 300px;
    margin: 25px;
}

.product-container:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.product-container h3 {
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    .products {
        justify-content: space-evenly;
    }
}

/*SECTION INSPIRATION*/
.articles {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.single-article {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.single-article:nth-of-type(2) {
    flex-direction: column-reverse;
}

.single-article .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;

    background-color: var(--primary-color);
}

.single-article .img {
    width: 100%;
    min-height: 250px;
    height: auto;
}

.single-article a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 19px;
    padding: 10px 20px;
}

@media screen and (min-width: 768px) {
    .articles {
        width: 90%;
    }

    .single-article h3 {
        font-size: 1.5em;
    }

    .single-article p {
        line-height: 1.5em;
    }

    .single-article a {
        margin: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .single-article {
        flex-direction: row;
    }
    .single-article:nth-of-type(2) {
        flex-direction: row-reverse;
    }

    .single-article .container {
        width: 50%;
        padding: 20px;

    }

    .single-article .img {
        width: 50%;
    }
}

/*SECTION ABOUT*/
.about {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.about h3 {
    color: var(--primary-color);
    font-weight: 400;
}

.about p {
    font-weight: bold;
    text-transform: uppercase;
}

.about a.btn {
    margin: 25px 0;
}

@media screen and (min-width: 1200px) {

}

/*SECTION FIND*/
.find {
    width: 100%;
    text-align: center;
}

.find iframe {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .find {
        width: 90%;
        margin: 0 auto;
    }
}

/*SECTION CONTACT*/
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: black;
    color: white;
    margin-top: 25px;
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.contact-container h3 {
    font-weight: bold;
}

.contact-container address {
    font-weight: 300;
    color: var(--primary-color);
    font-style: normal;
    text-decoration: none;
    line-height: 2em;
}

.contact-container a {
    text-decoration: none;
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .contact {
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 25px;
    }

    .contact-container {
        width: 40%;
    }
}
@media screen and (min-width: 1200px){
    .contact{
        justify-content: space-evenly;
    }
    .contact-container {
        width: 20%;
    }
}